@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
.App {
  text-align: center;
}



.contain-all{
  
  height: fit-content;
  margin: 0;
  padding: 0;
  font-family: 'Inconsolata', monospace;
  
}

.about-text{
  color: #2f274b;
  background-color: #c9c9c9;
  box-shadow: 0 0 5px inset black;
}

li{
  margin: 2% 0;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav-bg{
  /* background-color: #c9c9c9; */
  background-color: #2f274b;
  padding: 10px;
  box-shadow: 0 0 5px inset black;
}

.nav-bg > div > button {
  background-color: #ffc107;
}

.nav-bg > div >  div > a {
  color: blanchedalmond;
  width: 100%;
  text-align: center;
  margin-bottom: 1%;
}

.key-skills{
  width: 50%;
}

.cst-nav{
  width: 15%;
  border: none;
  align-self: flex-end;
  box-shadow: 0 0 3px inset black;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.nav-bg > a:hover {
  background-color: blanchedalmond;
  color: rgb(49, 21, 21);
  font-weight: 600
}

h1, h2, h3, h4{
  font-family: 'Inconsolata', monospace;}

p, a{
  font-family: 'Dosis', sans-serif;
}

.wrap-name{
  background-color: #2f274b;
  box-shadow: 0 0 5px inset black;
}

.details-bg{
  background-color: #c9c9c9;
  color: rgb(6, 39, 66);
  box-shadow: 0 0 5px inset black;
  width: 50%;
}

.cst-jmbo-bg{
  background-color: rgb(50, 41, 70);
}
.proj-container{
  width: 90%;
  margin: auto;
  background-color: #2f274b;
  box-shadow: 0 0 5px inset black;
  margin-bottom: 20%;
  height: 100%;
  position: relative;
}

.all-skills-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  width:80%;
}

.cst-card{
  width: 25rem;
  border: 1px solid black;
  /* border: 2px solid rgb(49, 48, 48); */
  margin: 3% 0;
}

.cst-li{
  box-shadow: 0 0 2px inset black;
}

.cst-cTitle{
  box-shadow: 0 0 2px inset black;
  }
.cst-cBody{
  box-shadow: 0 0 2px inset black;
  background-color: #5a507e;
}
.footer-bg{
  background-color: #c9c9c9;
  box-shadow: 0 0 5px inset black;
  width: 100%;
  position: fixed;
  bottom: 0;
  /* margin-top: 5%; */
  
}

.footer-bg > a {
  border-radius: 5px;
  background-color: #3e3464;
  padding: 10px;
  /* margin-left: 10%; */
}

.cst-flex-basis{
  flex: 0 0 auto;
  width: 31.33%;
}


.cst-wrap{
  width: 100%;
  margin: auto;

}

.wrap-proj-sec{
  /* overflow-x: scroll; */
  width: 100%;
  margin-bottom: 5%;
  margin: auto;
  padding-bottom: 5%;
}

.wrap-details{
  color: #3e3464;

}



.cst-link{
  background-color: rgb(102, 86, 174);
  border: none;
  margin-bottom: 2%;
  border-radius: 25px;
  
}

.flex-query{
  display: flex;
  flex-direction: column;
}

.wrap-text{
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.text-text {
  font-family: 'Roboto Mono', monospace;
  line-height: 2.5;
}

.wrap-about{
  width: 80%;
  display: flex;
  margin: auto;
}

.wrap-opt{
  display: flex;
  width: 50%;
  justify-content: flex-end;
}


@media  screen and (min-width: 412px) {
  .cst-nav{
    width: 12%;
  }
}

@media screen and (min-width: 500px) {
  .cst-nav{
    width: 8%;
  }
}

@media screen and (min-width: 645px) {
  .cst-nav{
    display: none;
  }
  .wrap-nav-options{
    display: flex;
    flex-direction: row;

  }
  
}

@media screen and (min-width: 826px) {
  .wrap-proj-sec{
    padding: 3%;
  }

  .all-skills-wrap{
    display: flex;
    justify-content: space-evenly;
  }

  .wrap-about{
    width: 80%;
    display: flex;
    margin: auto;
  }

  .wrap-contact-info{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1010px) {
  .cst-card{
    width: 18rem;
  }
}

@media screen and (max-width: 1130px) {
  .cst-flex-basis{
      width: 45%;
  }
}

@media screen and (max-width: 992px) {
  .wrap-text{
    flex-direction: column;
    width: 80%;
    order: 1;
  }
  .wrap-about{
    flex-direction: column;
    align-items: center;
  }
  .all-skills-wrap{
    order: 2
  }
}

@media screen and (max-width: 845px) {
  .cst-flex-basis{
      width: 60%;
  }

  .wrap-proj-sec{
      margin: auto;
  }

}

@media screen and (max-width: 825px) {
  .wrap-proj-sec{
      width: 80%;
  }

  .cst-flex-basis{
      width: 90%;
  }

  .key-skills{
    width: 100%;
  }

 
}

@media screen and (max-width: 700px) {
  .details-bg{
      width: 100%;
  }

  
}

@media screen and (max-width: 575px) {
  .proj-container{
      width: 100%;
  }
  .wrap-proj-sec{
      width: 80%;
      overflow-x:hidden;
      justify-content: center;
 }
  
}

@media screen and (max-width: 590px) {
 .wrap-name{
  flex-direction: column;

 }
 .cst-link{
  width: 50%;

  
 }
 .wrap-opt{
  width: 100%;
  justify-content: center;
  margin: 2% 0;
 }
}

@media screen and (max-width: 490px) {
  .proj-container {
    margin-bottom: 50%;
  }
  .cst-card{
    width: 15rem;
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
