body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(9, 9, 71, 0.85), rgba(176, 114, 0, 0.75)),
                url("https://coolbackgrounds.io/images/unsplash/samuel-zeller-medium-b832fe04.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  /* height: fit-content; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


